.listHeader {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
   
}

.tarefas {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    display: flex;
}

.tarefasCriadas {
    font-size: 0.875rem;
    color: var(--blue);
    
}

.tarefasConcluidas {
    font-size: 0.875rem;
    color: var(--purple);
   
}

.count {
    font-size: 0.75rem;
    border-radius: 999px;
    background-color: var(--gray-400);
    color: var(--gray-200);
    padding: 0.125rem 0.5rem;
}